body {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

button {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 7px;
}

#canvas {
    background-color: pink;
    border: 3px solid black;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}